.status_base {
    color: aliceblue;
    display: inline-block;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.status_base div {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 5px;
    box-sizing: border-box;
}