.status_base {
    color: aliceblue;
    max-width: 80%;
    margin: 12px auto; 
    text-align: center;
}

.status_base div {
    margin-right: 20px;
    display: inline-block;
    box-sizing: border-box;
}

.status_base label {
    margin-right: 10px;
}