.cartesian-plane {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid rgb(94, 94, 94);
}

.square {
  width: 50px;
  height: 50px;
  border-radius: 80%;
}

.grid-square {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  position: absolute;
}

.container {
  display: flex;
  gap: 15px;
}

.square-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.buttons {
  gap: 5px;
}