.spells-add {
    color: aliceblue;
    max-width: 80%;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spell-container {
    background-color: rgb(48, 48, 48);
    width: 200px;
    height: 250px;
    border-radius: 12px;
    margin-right: 10px;
    text-align: center;
}