.character_inputs {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    /*justify-content: space-between;*/
}

.status_base {
    margin-bottom: 20px;
}

.main {
    width: 90%;
    margin: 12px auto;
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.attributes {
    max-width: 200px;
    width: 18%;
    height: 840px;
}

.div1, .skills {
    max-width: 200px;
    width: 18%;
}

.characteristics {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.additional-components {
    margin-top: 20px; 
}

.character-section {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: aliceblue;
}

.character-page input[type=number] {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(43, 42, 42);
    color: aliceblue;
    -moz-appearance: textfield;
    appearance: textfield;
}

.character-page input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.character-page input[type=text] {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    text-align: center;
    background-color: rgb(43, 42, 42);
    color: aliceblue;
}

.bonus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonus {
    border: 2px solid beige;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 12px;
}

