.characteristics {
    color: aliceblue;
}

.characteristics div {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.characterImage {
    background-color: aliceblue;
    max-width:350px;
    max-height:200px;
    width: auto;
    height: auto;
}
