.saving_throw {
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saving_throw div {
    margin-bottom: 2px;
}

.saving_throw label {
    white-space: pre-line;
    display: block; 
}