.saving_throw {
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.saving_throw label {
    white-space: pre-line;
    display: block; 
} 