{% extends "template.html" %}
{% block conteudo %}
<br>
    <form id="form">
        <select class="form-select" aria-label="Default select example" name="id_tipo_equipamento" id="id_tipo_equipamento">
            {% for tipo_equipamento in tipo_equipamentos %}
                <option value="{{tipo_equipamento['id_tipo_equipamento']}}">{{tipo_equipamento['nome_tipo_equipamento']}}</option>
            {% endfor %}
        </select>        
        <input type="text" class="form-control" id="nome_equipamento" name="nome_equipamento" placeholder="Nome do Equipamento" required />
        <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição do Equipamento" required />
        <input type="text" class="form-control" id="preco" name="preco" placeholder="Preço do Equipamento" required />
        <input type="text" class="form-control" id="peso" name="peso" placeholder="Peso do Equipamento" required />
        <input type="text" class="form-control" id="ca" name="ca" placeholder="Classe de Armadura (CA)" />
        <input type="text" class="form-control" id="dado" name="dado" placeholder="Dado de Dano" />
        <input type="text" class="form-control" id="bonus" name="bonus" placeholder="Bônus" />
        <input type="file" class="form-control" id="imagem_equipamento" name="imagem_equipamento" required />
        
        <button type="submit" id="btn-cadastrar" class="btn-dark">Salvar</button>
    </form>
    <div id="result-container"></div>
    <script type="text/javascript" src="{{url_for('static', filename='js/admin/criar_equipamento.js')}}"></script>
{% endblock %}