{% extends "template.html" %}
{% block conteudo %}
<br>
<a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{url_for('new_class')}}">NOVA CLASSE</a><br>
<a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{url_for('new_skill')}}">NOVA PERICIA</a><br>
<a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{url_for('new_saving_throw_name')}}">NOVA SALVAGUARDA</a><br>
<a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{url_for('new_race')}}">NOVA RAÇA</a><br>
<a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{url_for('new_spell')}}">NOVA HABILIDADE</a><br>
<a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{url_for('new_equipment')}}">NOVO EQUIPAMENTO</a>

{% endblock %}