.coins {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    color: aliceblue;
    font-size: 12px;
    padding: 10px;
}

.coins div {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    font-size: 18px;
}

.coins div input[type="number"] {
    margin-left: 12px;
    width: 100px;
    height: 36px;
}

.buttun-details {
    background-color: white;
    color: #000000;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
}

.buttun-details:hover {
    background-color: #000000;
    color: white;
}

.details-coins {
    text-align: center;
}

.details-coins th, .details-coins td {
    margin-top: 8px;
    text-align: center;
    max-width: 200px;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding: 8px; 
}

.details-coins tr {
    margin-bottom: 8px; 
}