.content {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content div {
    display: flex;
    gap: 50px;
}

.character {
    width: 600px;
    background-color: azure;
    border-radius: 20px;
    padding: 36px 64px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    max-width: 150px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.character img {
    width: 120px;
    height: 80px;
}

a:visited,
a:link {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: rgb(71, 68, 68);
}