{% extends "template.html" %}
{% block conteudo %}
<input type="hidden" id="id_personagem" value="{{id_personagem}}">
    <label for="habilidades">Selecione Habilidades:</label><br>
    <div class="container text-center"></div>
        {% for habilidade in habilidades %}
            <div class="row justify-content">
                <div class="col">
                    {% if habilidade['personagem_possui'] %}
                        <input type="checkbox" class="form-check-input" id="habilidade_{{habilidade['id_habilidade']}}" required checked/>
                    {% else %}
                        <input type="checkbox" class="form-check-input" id="habilidade_{{habilidade['id_habilidade']}}" required />
                    {% endif %}
                    {{habilidade['nome_habilidade']}}<br>
                    Nivel {{habilidade['nivel_habilidade']}} | Bonus: {{habilidade['nome_atributo']}}<br>
                    Tipo de Dano: {{habilidade['tipo_dano']}}<br>
                    Dados: {{habilidade['qtd_dados']}}d{{habilidade['lados_dados']}}<br>
                    <p><a class="link-warning link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0" href="{{habilidade['link_detalhes']}}" target="_blank">Detalhes</a></p><br><br>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="result-container"></div>
    <script type="text/javascript" src="{{url_for('static', filename='js/adicionar_habilidade_personagem.js')}}"></script>
{% endblock %}