{% extends "template.html" %}
{% block conteudo %}
    Cadastro Usuario
    <form method="POST" action="{{ url_for('user_registration') }}">
        <input placeholder="email" type="email" class="form-control" name="email" required/>
        <input placeholder="nome" type="text" class="form-control" name="nome" required/>
        <input placeholder="data de nascimento" type="date" class="form-control" name="birth_date" required/>
        <input placeholder="password" type="password" class="form-control" name="password" required/>
        <button type="submit" id="btn-entrar" class="btn-entrar">Entrar</button>
    </form>
{% endblock %}