{% extends "template.html" %}
{% block conteudo %}
    Personagem
    <form id="form">
        <select class="form-select" aria-label="Default select example" name="id_raca" id="id_raca">
            {% for raca in racas %}
                <option value="{{raca['id_raca']}}">{{raca['nome_raca']}}</option>
            {% endfor %}
        </select>
        <select class="form-select" aria-label="Default select example" name="id_classe" id="id_classe">
            {% for classe in classes %}
                <option value="{{classe['id_classe']}}">{{classe['nome_classe']}}</option>
            {% endfor %}
        </select>
        <input placeholder="Nome Personagem" type="text" class="form-control" name="nome_personagem" id="nome_personagem" required/>
        <br>
        <button type="submit" id="btn-entrar" class="btn-dark">Criar</button>
    </form>

    <div id="result-container"></div>
    <script type="text/javascript" src="{{url_for('static', filename='js/create_personagem.js')}}"></script>
{% endblock %}