{% extends "template.html" %}
{% block conteudo %}
Nome do Jogador: {{nome}}
<input id="id_personagem" type="hidden" value="{{id_personagem}}">

<div class="container text-center">
    <div class="row justify-content">
        <div class="col">
            Nome do Personagem: <input class="form-control text-center" id="nome_personagem" value="{{nome_personagem}}" required/>
        </div>
    </div>
    <div class="row justify-content">
        <div class="col">
            Vida: <input class="form-control text-center" id="status_base_vida" required/>
        </div>
        <div class="col">
            Vida_temporaria: <input class="form-control text-center" id="status_base_vida_temporaria" required/>
        </div>
        <div class="col">
            Vida_atual: <input class="form-control text-center" id="status_base_vida_atual" required/>
        </div>
    </div>
    <div class="row justify-content">
        <div class="col">
            Inspiração: <input class="form-control text-center" id="status_base_inspiracao" required/>
        </div>
        <div class="col">
            CA: <input class="form-control text-center" id="status_base_ca" required/>
        </div>
        <div class="col">
            Nível: <input class="form-control text-center" id="status_base_nivel" required/>
        </div>
    </div>
    <div class="row justify-content">
        <div class="col">
            Alinhamento: <input class="form-control text-center" id="status_base_alinhamento" required/>
        </div>
        <div class="col">
            Faccao: <input class="form-control text-center" id="status_base_faccao" required/>
        </div>
        <div class="col">
            Antecendente: <input class="form-control text-center" id="status_base_antecendente" required/> 
        </div>
    </div>
    <div class="row justify-content">
        <div class="col">
            xp: <input class="form-control text-center" id="status_base_xp" required/>
        </div>
        <div class="col">
            Deslocamento: <input class="form-control text-center" id="status_base_deslocamento" required/>
        </div>
        <div class="col">
            Iniciativa: <input class="form-control text-center" id="status_base_iniciativa" required/>
        </div>
        <div class="col">
            Proficiencia: <input type="number" class="form-control text-center" id="atributo_bonus_proficiencia" required/> 
        </div>
    </div>
    <div class="row justify-content">
        <div class="col">
            Raça: <a href="">{{raca}}</a>
        </div>
        <div class="col">
            Classe: <a href="">{{classe}}</a>
        </div>
    </div>
</div>

<section data-atributos>
    <h2>Atributos: </h2>
    <div class="container text-center">
        <div class="row justify-content">
            <div class="col">
                <h3>Força:</h3><input type="number" class="form-control text-center" id="atributo_forca" required/>
                Bônus Força: <div id='bonus_forca'></div>
            </div>
            <div class="col">
                <h3>Destreza:</h3> <input type="number" class="form-control text-center" id="atributo_destreza" required/>
                Bônus Destreza: <div id='bonus_destreza'></div>
            </div>
            <div class="col">
                <h3>Constituição:</h3> <input type="number" class="form-control text-center" id="atributo_constituicao" required/>
                Bônus Constituição: <div id='bonus_constituicao'></div>
            </div>
        </div>
        <div class="row justify-content">
            <div class="col">
                <h3>Inteligência:</h3> <input type="number" class="form-control text-center" id="atributo_inteligencia" required/>
                Bônus Inteligência: <div id='bonus_inteligencia'></div>
            </div>
            <div class="col">
                <h3>Sabedoria:</h3> <input type="number" class="form-control text-center" id="atributo_sabedoria" required/>
                Bônus Sabedoria: <div id='bonus_sabedoria'></div>
            </div>
            <div class="col">
                <h3>Carisma:</h3> <input type="number" class="form-control text-center" id="atributo_carisma" required/>
                Bônus Carisma: <div id='bonus_carisma'></div>
            </div>
        </div>
    </div>
</section>

<section data-salvaguardas>
    <h2>Salvaguardas: </h2>
    <div class="container text-center">
        <div class="row justify-content">
            <div class="col">
                <h3>Força:</h3>
                <div id='resistencia_forca'></div>
                <input type="checkbox" class="form-check-input" id="check_salvaguarda_forca" required/>
            </div>
            <div class="col">
                <h3>Destreza:</h3>
                <div id='resistencia_destreza'></div>
                <input type="checkbox" class="form-check-input" id="check_salvaguarda_destreza" required/>
            </div>
            <div class="col">
                <h3>Constituição:</h3>
                <div id='resistencia_constituicao'></div>
                <input type="checkbox" class="form-check-input" id="check_salvaguarda_constituicao" required/>
            </div>
        </div>
        <div class="row justify-content">
            <div class="col">
                <h3>Inteligência:</h3>
                <div id='resistencia_inteligencia'></div>
                <input type="checkbox" class="form-check-input" id="check_salvaguarda_inteligencia" required/>
            </div>
            <div class="col">
                <h3>Sabedoria:</h3>
                <div id='resistencia_sabedoria'></div>
                <input type="checkbox" class="form-check-input" id="check_salvaguarda_sabedoria" required/>
            </div>
            <div class="col">
                <h3>Carisma:</h3>
                <div id='resistencia_carisma'></div>
                <input type="checkbox" class="form-check-input" id="check_salvaguarda_carisma" required/>
            </div>
        </div>
    </div>
</section>

<section>
    <h3>Pericias</h3>
    <div class="container text-center">
        <div class="row justify-content" data-pericias-lista>

        </div>
    </div>
</section>

<section data-caracteristicas>
    <h2>Caracteristicas: </h2>
    <div class="container text-center">
        <div class="row justify-content">
            <div class="col">
                <h3>Idade:</h3><input type="text" class="form-control text-center" id="caracteristicas_idade" required/>
            </div>
            <div class="col">
                <h3>Altura</h3> <input type="number" class="form-control text-center" id="caracteristicas_altura" required/>
            </div>
            <div class="col">
                <h3>Peso</h3> <input type="number" class="form-control text-center" id="caracteristicas_peso" required/>
            </div>
        </div>
        <div class="row justify-content">
            <div class="col">
                <h3>Cor dos Olhos</h3> <input type="text" class="form-control text-center" id="caracteristicas_cor_olhos" required/>
            </div>
            <div class="col">
                <h3>Cor da Pele</h3> <input type="text" class="form-control text-center" id="caracteristicas_cor_pele" required/>
            </div>
            <div class="col">
                <h3>Cor do Cabelo</h3> <input type="text" class="form-control text-center" id="caracteristicas_cor_cabelo" required/>
            </div>
        </div>
        <div class="row justify-content">
            <div class="col">
                <h3>Imagem Personagem</h3> <input type="url" class="form-control text-center" id="caracteristicas_imagem_personagem" required/>
            </div>
        </div>
    </div>
</section>
<a href="{{url_for('adicionar_habilidade_personagem', id_personagem=id_personagem)}}">Adicionar Habilidades</a>
<section data-habilidades>

</section>

<div id="result-container"></div>
<script type="text/javascript" src="{{url_for('static', filename='js/ficha_personagem.js')}}"></script>
{% endblock %}