{% extends "template.html" %}
{% block conteudo %}
    <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{url_for('render_create_character')}}">
        Criar Personagem
    </a><br>
    <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{url_for('room')}}">
        Entrar em Sala
    </a>
    {% if personagens %}
        <div class="container text-center">
            {% for personagem in personagens %}
            <div class="row">
                <div class="col">
                    Nome:{{personagem['nome_personagem']}}
                </div>
                <div class="col">
                    Raça:{{personagem['nome_raca']}}
                </div>
                <div class="col">
                    <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{url_for('character',id_character=personagem['id_personagem'])}}">Ficha Personagem</a>
                </div>
                <div class="col">
                    <button class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" 
                            id="delete_{{personagem['id_personagem']}}" 
                            data-id-personagem="{{personagem['id_personagem']}}">
                        Delete
                    </button>
                </div>                
            </div>
            {% endfor %}
        </div>
    {% endif %}
    <script type="text/javascript" src="{{url_for('static', filename='js/delete_personagem.js')}}"></script>
{% endblock %}