{% extends "template.html" %}
{% block conteudo %}
<form method="POST" action="{{ url_for('room') }}">
    <input type="text" class="form-control text-center" id="id_room" name="id_room" required/>
    <select class="form-select" aria-label="Default select example" name="id_personagem" id="id_personagem">
        {% for personagem in personagens %}
            <option value="{{personagem['id_personagem']}}">{{personagem['nome_personagem']}}</option>
        {% endfor %}
    </select>
    <button type="submit" id="btn-entrar" class="btn-entrar">Entrar</button>
</form>
{% endblock %}