<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ titulo }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <nav class="navbar bg-dark navbar-expand-lg">
            <!--<div class="container-fluid menu">
                    <a class="navbar-brand" href="{{url_for('index')}}">
                        <img class='img_logo' src="{{ url_for('static', filename='') }}" alt="Logo do site"/>
                    </a>-->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="navbar-brand" href="{{url_for('login')}}">
                                Login
                            </a>
                        </li>
                    <ul>
                </div>
            <!--</div>-->
        </nav>
        <div class="container">
            {{msg}}
            {% block conteudo %}{% endblock %}
        </div>
    </body>
</html>